{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-2"></div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a class=" btn btn-dark" href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
            </div>
            <div class="col-9">
                <h3>Add Room</h3>
            </div>
        </div>
        <div class="p4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="p-2"></div>
           <div >
               <input type="submit" value="Submit" class="btn btn-primary form-control">
           </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

